@import '@infrastructure/styles/main';

.desktop-calendar-card-wrapper {
  border: 3px solid transparent;
  display: block;
  height: 15em;
  position: relative;
  transition: border-color 0.1s ease-in-out;

  &--today {
    border-color: palette(primary);
  }

  &--other-month {
    background-color: gray(400);
  }

  &--other-month,
  &--weekend {
    > .typography-wrapper {
      color: gray(600);
    }

    > .divider-wrapper {
      border-color: gray(600);
    }
  }

  &__events {
    margin-top: spacing(xs);
  }
}
