@import '@infrastructure/styles/main';

.mobile-calendar-card-wrapper {
  @include unselectable;
  border: 3px solid transparent;
  display: flex;
  height: 10em;
  position: relative;
  transition: border-color 0.1s ease-in-out;

  &--today,
  &--selected {
    border-color: palette(primary);
  }

  &--other-month {
    background-color: gray(400);
  }

  &--other-month,
  &--weekend {
    > .mobile-calendar-card-wrapper__left-content > .typography-wrapper {
      color: gray(600);
    }

    > .mobile-calendar-card-wrapper__left-content > .divider-wrapper {
      border-color: gray(600);
    }
  }

  &__events {
    margin-top: spacing(xs);
  }

  &__left-content {
    display: flex;

    > .divider-wrapper {
      margin: 0 spacing(sm);
    }
  }
}
